.navegador{
    background-color:rgb(74, 111, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px;
    padding-top: 20px;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(117,111,117,1);
    -moz-box-shadow: 0px 10px 5px 5px rgba(117,111,117,1);
    box-shadow: 0px 10px 5px 5px rgba(117,111,117,1);
}
.seccion1{
    background-image: url("../imagenes/fondo_logo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    z-index:0;
    height: 500px;
}
.logo{
    padding-top:60px;
    display: flex;
    justify-content: center;
}
.logo img{
    position: relative;
    color:white;
    z-index: 1;
    width: 100px;
    height: 100px;
}
.seccion1 h1{
    font-size: 70px;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    font: oblique bold cursive;
}
.seccion1 h2{
    font-size: 20px;
    color: black;
    font: small-caps 100%/200% serif;
}
.navegador ul,li{
    list-style: none;
    display: inline-block;
}

img{
    width: 250px;
    height: 600px;
    padding: 10px;
}

h1,h2,h3{
    text-align: center;
}
.destacadas{
    padding-bottom:100px;
    padding-top:60px;
}
.recomendaciones {
    padding-bottom:100px;
    padding-top:30px;
}

.card:hover img {-webkit-transform:scale(1.3);transform:scale(1.3);}
.card {overflow:hidden;}

.recomendaciones h2{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(138, 52, 160);
    color:white;
    border-radius: 15px;
    font-style: oblique;
}

.recientes {
    padding-bottom:100px;
    padding-top:30px;
}
.recientes h2{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(138, 52, 160);
    color:white;
    border-radius: 15px;
    font-style: oblique;
}

footer{
    width:100%;
    height: 150px;
    background-color: rgb(183, 185, 185);
}
.disclaimer{
    display:flex;
    align-items: flex-end;
    width: 60%;
    height: 150px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: solid;

}
.contacto li{
    list-style: none;
    display: block;
}
.contacto a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    
}
