.navegador{
    background-color:rgb(74, 111, 212);
    display: flex;
    justify-content: flex-end;
    padding-right:20px;
    padding-top: 20px;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(117,111,117,1);
-moz-box-shadow: 0px 10px 5px 5px rgba(117,111,117,1);
box-shadow: 0px 10px 5px 5px rgba(117,111,117,1);
}
.seccion1{
    background-image: url("../imagenes/fondo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
}
.seccion1 h1{
    padding-top: 30px;
    padding-bottom: 100px;
    color: rgb(61, 71, 209);
}
.seccion1 h2{
    color: rgb(156, 11, 11);
}
.navegador ul,li{
    list-style: none;
    display: inline-block;
}

img{
    width: 250px;
    height: 600px;
    padding: 10px;
}

h1,h2,h3{
    text-align: center;
}
.destacadas{
    padding-bottom:100px;
    padding-top:60px;
}
.recomendaciones {
    padding-bottom:100px;
    padding-top:30px;
}
.recomendaciones h2{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(138, 52, 160);
    color:white;
    border-radius: 15px;
    font-style: oblique;
}

.recientes {
    padding-bottom:100px;
    padding-top:30px;
}
.recientes h2{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(138, 52, 160);
    color:white;
    border-radius: 15px;
    font-style: oblique;
}

footer{
    width:100%;
    height: 150px;
    background-color: rgb(183, 185, 185);
}
.disclaimer{
    display:flex;
    align-items: flex-end;
    width: 60%;
    height: 150px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: solid;

}
.contacto li{
    list-style: none;
    display: block;
}
.contacto a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    
}
